<script id="listings-template" type="text/x-handlebars-template">
  <div class="container">
    <div class="row">
      <h2>Active Listings</h2>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img1.jpg" class="listing-image"/>
          <div class="address">2009 Livingston Dr Marietta, GA 30064</div>
          <div class="description">4br 2 1/2 ba home on 1/3 of an acre</div>
          <div class="price">$453,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img2.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img3.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img4.jpg" class="listing-image"/>
        </div>
      </div>

    </row>
    <row>
      <h2>Previous Listings</h2>
    </row>
    <row>
     <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img1.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img2.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img3.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img4.jpg" class="listing-image"/>
        </div>
      </div>
    </row>
    <row>
     <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img1.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img2.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img3.jpg" class="listing-image"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="listing-box">
          <img src="http://templates.cms-guide.com/45774/images/page1-img4.jpg" class="listing-image"/>
        </div>
      </div>
    </row>
  </div>
</script>